---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - A7FD2F6A3C422A8B
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>true</IsTruncated><Contents><Key>data0.txt</Key><LastModified>2014-05-02T10:49:58.000Z</LastModified><ETag>&quot;b026324c6904b2a9cb4b88d6d61c81d1&quot;</ETag><Size>2</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>data1.txt</Key><LastModified>2014-05-02T10:49:58.000Z</LastModified><ETag>&quot;b026324c6904b2a9cb4b88d6d61c81d1&quot;</ETag><Size>2</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>data10.txt</Key><LastModified>2014-05-02T10:49:58.000Z</LastModified><ETag>&quot;b026324c6904b2a9cb4b88d6d61c81d1&quot;</ETag[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=page638.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5EF16348A86B07B0
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
  [...]
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=style638.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - E7CB5967A52085A1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
  [...]
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/data0.txt
    body:
      encoding: UTF-8
      string: |
        2
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 4A9B4AAA4ADFC10A
      Etag:
      - '"26ab0db90d72e28ad0ba1e22ee510510"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 11:01:59 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/style0.css
    body:
      encoding: UTF-8
      string: |
        2
    headers:
      Content-Type:
      - text/css; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - A6B0380800BDD1F5
      Etag:
      - '"26ab0db90d72e28ad0ba1e22ee510510"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 11:01:59 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/page0.html
    body:
      encoding: UTF-8
      string: |
        2
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2350B626926D508B
      Etag:
      - '"26ab0db90d72e28ad0ba1e22ee510510"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 11:02:00 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/new_page999.html
    body:
      encoding: UTF-8
      string: |
        2
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - B7545660F0DBB767
      Etag:
      - '"26ab0db90d72e28ad0ba1e22ee510510"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 11:02:00 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 7E39F387437CF4C4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        [...]
