---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 623E8384DD9F0B42
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Fri, 02 May 2014 09:20:49 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/s3-website-test.net/welcome.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 7945D2BC463D2936
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 09:20:49 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/welcome.php
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Website-Redirect-Location:
      - /welcome
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 234E8C987CDE888E
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 09:20:50 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/s3-website-test.net/pets/dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 382BE0195BA7A437
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 09:20:50 GMT
[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 43073F9533F95882
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>pets/dogs</Key><LastModified>2014-05-02T09:20:52.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>welcome.php</Key><LastModified>2014-05-02T09:20:51.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Fri, 02 May 2014 09:20:51 GMT
recorded_with: VCR 2.8.0
