---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/another-s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - A2A5B618C76BDC46
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>another-s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Sat, 20 Jul 2013 15:03:04 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/another-s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 30864A566FBD97FE
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>another-s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Sat, 20 Jul 2013 15:03:05 GMT
recorded_with: VCR 2.5.0
