---
http_interactions:
- request:
    method: get
    uri: https://s3-ap-southeast-2.amazonaws.com/s3-website-test-sydney.net?marker=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 4F5DDDCFB5EAE9B5
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test-sydney.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Thu, 01 May 2014 13:00:32 GMT
- request:
    method: put
    uri: https://s3-ap-southeast-2.amazonaws.com/s3-website-test-sydney.net/css/styles.css
    body:
      encoding: UTF-8
      string: |
        body {

        }
    headers:
      Content-Type:
      - text/css; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 340E8F15C08C7FFE
      Etag:
      - '"8fcf43a38cbf0c502f029a50645f2374"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 May 2014 13:00:34 GMT
- request:
    method: put
    uri: https://s3-ap-southeast-2.amazonaws.com/s3-website-test-sydney.net/index.html
    body:
      encoding: UTF-8
      string: |
        <html>
          <head>
            <title>hello!</title>
          </head>
        </html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - F68E0C09E9A5552A
      Etag:
      - '"8a8892a2b0fad281f26c0dedbff7011a"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 May 2014 13:00:34 GMT
- request:
    method: get
    uri: https://s3-ap-southeast-2.amazonaws.com/s3-website-test-sydney.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 04F39C3B968E3754
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test-sydney.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2014-05-01T13:00:36.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2014-05-01T13:00:36.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Thu, 01 May 2014 13:00:37 GMT
recorded_with: VCR 2.8.0
