---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 49E1633DC3F20CF4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/</Key><LastModified>2013-06-22T08:30:30.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Sat, 22 Jun 2013 08:30:50 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/s3-website-test.net/css/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FCD7308147099BC1
      Last-Modified:
      - Sat, 22 Jun 2013 08:30:30 GMT
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Content-Type:
      - binary/octet-stream
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:30:52 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/css/styles.css
    body:
      encoding: UTF-8
      string: |
        body {

        }
    headers:
      Content-Type:
      - text/css
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - F5D58399CB2DFE4A
      Etag:
      - '"8fcf43a38cbf0c502f029a50645f2374"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:31:00 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/index.html
    body:
      encoding: UTF-8
      string: |
        <html>
          <head>
            <title>hello!</title>
          </head>
        </html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 9BFF5BC042F7F043
      Etag:
      - '"8a8892a2b0fad281f26c0dedbff7011a"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:31:02 GMT
[...]
- request:
    method: delete
    uri: https://s3.amazonaws.com/s3-website-test.net/css/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - ABED032FD81DCF49
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:31:05 GMT
recorded_with: VCR 2.5.0
