---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - E9087D44BE68DA77
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:44:23.000Z</LastModified><ETag>&quot;5ac030ccfb37ddf75a62710f78d06155&quot;</ETag><Size>25</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 20:46:57 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2E522C37567E3709
      Last-Modified:
      - Thu, 14 Mar 2013 20:44:23 GMT
      Etag:
      - ! '"5ac030ccfb37ddf75a62710f78d06155"'
      Content-Type:
      - text/css
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 20:46:57 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: UTF-8
      string: ! "<html>\n  <head>\n    <title>hello!</title>\n  </head>\n  <body>\n
        \   i am a new blog post\n  </body>\n</html>\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS 
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 3E2511F1315ABE17
      Etag:
      - ! '"84c3aea67581d0a7b28ea245e6cf4af7"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 20:47:00 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS AKIAJDUL6Q4MU4XNQKDQ:eQkZJuEP2kkmkf1a+M1nmTLf8lw=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 979CB189DC3BDC8D
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:46:59.000Z</LastModified><ETag>&quot;61ef54ea5b2672933f5a82b7805bd969&quot;</ETag><Size>26</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T20:46:59.000Z</LastModified><ETag>&quot;84c3aea67581d0a7b28ea245e6cf4af7&quot;</ETag><Size>104</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 20:47:00 GMT
recorded_with: VCR 2.3.0
