---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :LYwrqqg4kimz8ylQAzc8nSdf7cg=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 6A57503D1B56BE53
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T21:07:37.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:07:50 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :CsWlj2H425PPWqQBVF2ZJF1lFVE=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2C127B9760CF5952
      Last-Modified:
      - Thu, 14 Mar 2013 20:58:31 GMT
      Etag:
      - ! '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:07:50 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :T2gw8Ymfp81PDV/yb/FXIeFiGEk=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 89CFDB32BBAD9E7A
      Last-Modified:
      - Thu, 14 Mar 2013 21:07:37 GMT
      Etag:
      - ! '"8a8892a2b0fad281f26c0dedbff7011a"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:07:52 GMT
[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :VVijC38Z2oUiLI952L7DptuQkNE=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - EEE8DC7EFF924599
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T21:07:37.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:07:54 GMT
recorded_with: VCR 2.3.0
