---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :53fcykfEaeNXKJAQop9mckgLw2E=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 04CE9634B3D270C7
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T20:59:00.000Z</LastModified><ETag>&quot;af57cd2c1da58734749af7f49e38952c&quot;</ETag><Size>117</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:02:20 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :7H4jZMTFejjgpFNUoNglM2WH+YI=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - A31D6786D7DE23FC
      Last-Modified:
      - Thu, 14 Mar 2013 20:58:31 GMT
      Etag:
      - ! '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:02:21 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :1tMtb4RmHS++NJK1F+ZvgipEL3M=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 128CC990B612C290
      Last-Modified:
      - Thu, 14 Mar 2013 20:59:00 GMT
      Etag:
      - ! '"af57cd2c1da58734749af7f49e38952c"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:02:25 GMT
[...]
- request:
    method: delete
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :wLwsd1JLmT7NeP4Ar1V3tpSN+Pw=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - 56390C640DD2991E
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:02:27 GMT
recorded_with: VCR 2.3.0
