---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - C418CD7D3B1A94A0
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>foo</DisplayName></Owner><Buckets><Bucket><Name>jekyll-s3-test.net</Name><CreationDate>2012-10-14T12:58:37.000Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>'
  recorded_at: Mon, 12 Nov 2012 16:04:06 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS 
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 41A328772547F5CE
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2012-10-14T14:20:04.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2012-11-12T16:03:45.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Mon, 12 Nov 2012 16:04:06 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - C6FD6AB27A3AB708
      Last-Modified:
      - Sun, 14 Oct 2012 14:20:04 GMT
      Etag:
      - ! '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - ''
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 12 Nov 2012 16:04:07 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 93C1F004A5E9FC7C
      Last-Modified:
      - Mon, 12 Nov 2012 16:03:45 GMT
      Etag:
      - ! '"8a8892a2b0fad281f26c0dedbff7011a"'
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 12 Nov 2012 16:04:08 GMT
[...]
- request:
    method: delete
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS AKIAIFB7KCPAR6YNNZLA:ail6+cNPu7thlzkBPkMQsA9G8QA=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - A25BE3288715EE97
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 12 Nov 2012 16:04:10 GMT
recorded_with: VCR 2.2.4
