---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :fvxdKOnjXndbq5BqfS+bQmKv9G0=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - DF448B1259D5C9CE
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T21:02:40.000Z</LastModified><ETag>&quot;af57cd2c1da58734749af7f49e38952c&quot;</ETag><Size>117</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:06:08 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :2q78mdd5mn7Kr9kypc49J0i2cDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5310D40C8C612E3E
      Last-Modified:
      - Thu, 14 Mar 2013 20:58:31 GMT
      Etag:
      - ! '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:06:09 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :pWKQb3EpUob+nBH01GY7yssTqBo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1503371F0289AA9D
      Last-Modified:
      - Thu, 14 Mar 2013 21:02:40 GMT
      Etag:
      - ! '"af57cd2c1da58734749af7f49e38952c"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:06:10 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: UTF-8
      string: ! "<html>\n  <head>\n    <title>hello!</title>\n  </head>\n  <body>\n
        \   i got some new content for you, arnie\n  </body>\n</html>\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS :e4ery6aTeNJHu94OI0Tp+zYFvP0=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 4C0E42366590B09A
      Etag:
      - ! '"7f3ac0e996d33d9b089bcac1eac6af12"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:06:12 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :T92UUJITL8Gmv6Xn3BGlktrErLI=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5A1480175BED1B63
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T21:06:12.000Z</LastModified><ETag>&quot;7f3ac0e996d33d9b089bcac1eac6af12&quot;</ETag><Size>121</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:06:13 GMT
recorded_with: VCR 2.3.0
