---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1C5E2AD73CA801EF
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-06-22T08:30:48.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-06-22T08:53:53.000Z</LastModified><ETag>&quot;cf0bda670466480001905aad5eba1293&quot;</ETag><Size>127</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Sat, 22 Jun 2013 08:56:09 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8D3A9A691F0DA6AF
      Last-Modified:
      - Sat, 22 Jun 2013 08:30:48 GMT
      Etag:
      - '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:56:10 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 518DA956983B0111
      Last-Modified:
      - Sat, 22 Jun 2013 08:53:53 GMT
      Etag:
      - '"cf0bda670466480001905aad5eba1293"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:56:10 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: UTF-8
      string: |
        <html>
          <head>
            <title>hello!</title>
          </head>
          <body>
            i got some new content for you, arnie
            z
          </body>
        </html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 41E70526973B6420
      Etag:
      - '"555cf1f0ffc6a431eb42e2fcfc4c4646"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 22 Jun 2013 08:56:14 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FA217C05E4DEB50F
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-06-22T08:30:48.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-06-22T08:56:03.000Z</LastModified><ETag>&quot;555cf1f0ffc6a431eb42e2fcfc4c4646&quot;</ETag><Size>127</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>fluid83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Sat, 22 Jun 2013 08:56:17 GMT
recorded_with: VCR 2.5.0
