---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 92F849C9523CF93F
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Thu, 01 May 2014 22:53:13 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/index.html
    body:
      encoding: UTF-8
      string: |
        <html>
          <head>
            <title>hello!</title>
          </head>
        </html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - DACC5D9BC0A6F362
      Etag:
      - '"8a8892a2b0fad281f26c0dedbff7011a"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 May 2014 22:53:14 GMT
- request:
    method: put
    uri: https://s3.amazonaws.com/s3-website-test.net/css/styles.css
    body:
      encoding: UTF-8
      string: |
        body {

        }
    headers:
      Content-Type:
      - text/css; charset=utf-8
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 412A667D2BA54BDC
      Etag:
      - '"8fcf43a38cbf0c502f029a50645f2374"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 May 2014 22:53:14 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FEA26F98B288AFF4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2014-05-01T22:53:14.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2014-05-01T22:53:14.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Thu, 01 May 2014 22:53:15 GMT
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation
    body:
      encoding: UTF-8
      string: "\n        <InvalidationBatch>\n          <Paths>\n            <Quantity>1</Quantity>\n
        \           <Items>\n              [\"<Path>/</Path>\"]\n            </Items>\n
        \         </Paths>\n          <CallerReference>1398984795</CallerReference>\n
        \       </InvalidationBatch>\n      "
    headers:
      X-Amz-Date:
      - Thu, 01 May 2014 22:53:15 UTC
      Content-Type:
      - text/xml
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 611602b1-d183-11e3-a593-5db3a6965a33
      Location:
      - https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation/I1C03QVTPGHCSZ
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <Invalidation xmlns="http://cloudfront.amazonaws.com/doc/2012-05-05/"><Id>I1C03QVTPGHCSZ</Id><Status>InProgress</Status><CreateTime>2014-05-01T22:53:15.260Z</CreateTime><InvalidationBatch><Paths><Quantity>1</Quantity><Items><Path>/</Path></Items></Paths><CallerReference>1398984795</CallerReference></InvalidationBatch></Invalidation>
  recorded_at: Thu, 01 May 2014 22:53:15 GMT
recorded_with: VCR 2.8.0
