---
recorded_with: VCR 2.2.4
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      string: ""
    headers:
      Authorization:
      - AWS
      Content-Type:
      - ""
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8080972FB30862AC
      Content-Type:
      - application/xml
    body:
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName></DisplayName></Owner><Buckets><Bucket><Name>jekyll-s3-test.net</Name><CreationDate>2012-10-14T12:58:37.000Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
  recorded_at: Tue, 04 Dec 2012 20:14:48 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      string: ""
    headers:
      Authorization:
      - AWS
      Content-Type:
      - ""
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1C989B3F5D04453E
      Content-Type:
      - application/xml
    body:
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2012-12-04T20:08:29.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>foo83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2012-12-04T20:08:30.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>foo83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Tue, 04 Dec 2012 20:14:49 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      string: ""
    headers:
      Authorization:
      - AWS
      Content-Type:
      - ""
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 04 Dec 2012 20:08:29 GMT
      Etag:
      - "\"8fcf43a38cbf0c502f029a50645f2374\""
      X-Amz-Request-Id:
      - CB0A11392C67D36D
      Content-Type:
      - ""
    body:
      string: ""
  recorded_at: Tue, 04 Dec 2012 20:14:50 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      string: ""
    headers:
      Authorization:
      - AWS
      Content-Type:
      - ""
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 04 Dec 2012 20:08:30 GMT
      Etag:
      - "\"8a8892a2b0fad281f26c0dedbff7011a\""
      X-Amz-Request-Id:
      - 34EB3FD0E7A16391
      Content-Type:
      - ""
    body:
      string: ""
  recorded_at: Tue, 04 Dec 2012 20:14:51 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      string: |
        <html>
          <head>
            <title>hello!</title>
          </head>
          <body>
            This is something for a change!
          </body>
        </html>

    headers:
      Authorization:
      - AWS
      Content-Type:
      - ""
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"c9e51ad849ff680347e121815eada3d1\""
      X-Amz-Request-Id:
      - 61EEF921591CDDE1
    body:
      string: ""
  recorded_at: Tue, 04 Dec 2012 20:14:52 GMT
[...]
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation
    body:
      string: "\n        <InvalidationBatch>\n          <Paths>\n            <Quantity>2</Quantity>\n            <Items>\n              <Path>/index.html</Path><Path>/</Path>\n            </Items>\n          </Paths>\n          <CallerReference>1354652093</CallerReference>\n        </InvalidationBatch>\n      "
    headers:
      X-Amz-Date:
      - Tue, 04 Dec 2012 22:14:53 EET
      Authorization:
      - AWS
      Content-Type:
      - text/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation/I35VKBAYIKCW1J
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 434f5fea-3e4f-11e2-a5d7-53af0194f490
    body:
      string: |-
        <?xml version="1.0"?>
        <Invalidation xmlns="http://cloudfront.amazonaws.com/doc/2012-05-05/"><Id>I35VKBAYIKCW1J</Id><Status>InProgress</Status><CreateTime>2012-12-04T20:14:53.123Z</CreateTime><InvalidationBatch><Paths><Quantity>2</Quantity><Items><Path>/</Path><Path>/index.html</Path></Items></Paths><CallerReference>1354652093</CallerReference></InvalidationBatch></Invalidation>
  recorded_at: Tue, 04 Dec 2012 20:14:55 GMT
