---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/jekyll-s3-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :soaBeFFguXr8GDcK+lO/FG9e+ws=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 12A222C926CE26BB
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>jekyll-s3-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2013-03-14T20:58:31.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2013-03-14T21:07:37.000Z</LastModified><ETag>&quot;8a8892a2b0fad281f26c0dedbff7011a&quot;</ETag><Size>60</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>83</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>'
  recorded_at: Thu, 14 Mar 2013 21:09:13 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :rdmhJoBxkZwEkqyIslS8davNFag=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - AF624502520EB9CB
      Last-Modified:
      - Thu, 14 Mar 2013 20:58:31 GMT
      Etag:
      - ! '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:09:13 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS :9O2JwI9hQo7LIzrJayzzbZSG3bw=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 590A5622FD030E27
      Last-Modified:
      - Thu, 14 Mar 2013 21:07:37 GMT
      Etag:
      - ! '"8a8892a2b0fad281f26c0dedbff7011a"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:09:15 GMT
[...]
- request:
    method: put
    uri: https://s3.amazonaws.com/jekyll-s3-test.net/index.html
    body:
      encoding: UTF-8
      string: ! "<html>\n  <head>\n    <title>hello!</title>\n  </head>\n  <body>\n
        \   This is something for a change!\n\n\n  </body>\n</html>\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Authorization:
      - AWS :msdvHUWm19cmvzBag8//2Jdm+og=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8511AD61F0E79B61
      Etag:
      - ! '"af57cd2c1da58734749af7f49e38952c"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 14 Mar 2013 21:09:17 GMT
[...]
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-05-05/distribution/EIWJAF0IEWPBB/invalidation
    body:
      encoding: US-ASCII
      string: ! "\n        <InvalidationBatch>\n          <Paths>\n            <Quantity>2</Quantity>\n
        \           <Items>\n              [\"<Path>/index.html</Path>\", \"<Path>/</Path>\"]\n
        \           </Items>\n          </Paths>\n          <CallerReference>1363295358</CallerReference>\n
        \       </InvalidationBatch>\n      "
    headers:
      X-Amz-Date:
      - Thu, 14 Mar 2013 23:09:18 EET
      Content-Type:
      - text/xml
      Authorization:
      - AWS :dz7qMaZB7p3lTEoa8QGUKOnnhw0=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 6ea6468f-8ceb-11e2-9aac-b59691333d7e
      Location:
      - https://cloudfront.amazonaws.com/2012-05-05/distribution/EIWJAF0IEWPBB/invalidation/I7B3GUWN2MQME
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <Invalidation xmlns="http://cloudfront.amazonaws.com/doc/2012-05-05/"><Id>I7B3GUWN2MQME</Id><Status>InProgress</Status><CreateTime>2013-03-14T21:09:17.783Z</CreateTime><InvalidationBatch><Paths><Quantity>2</Quantity><Items><Path>/</Path><Path>/index.html</Path></Items></Paths><CallerReference>1363295358</CallerReference></InvalidationBatch></Invalidation>'
  recorded_at: Thu, 14 Mar 2013 21:09:19 GMT
recorded_with: VCR 2.3.0
