---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 3E383D14CF35C182
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2014-01-02T03:01:51.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>foo</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2014-01-02T03:01:51.000Z</LastModified><ETag>&quot;af57cd2c1da58734749af7f49e38952c&quot;</ETag><Size>117</Size><Owner><ID>3855ebae0f370c3dd0c8d8031863792112bd2a2cb18fa310d3f463ae0dea62f1</ID><DisplayName>foo</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Thu, 02 Jan 2014 03:04:20 GMT
- request:
    method: head
    uri: https://s3.amazonaws.com/s3-website-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 4DDB98AC357B55D3
      Last-Modified:
      - Thu, 02 Jan 2014 03:01:51 GMT
      Etag:
      - '"8fcf43a38cbf0c502f029a50645f2374"'
      Content-Type:
      - text/css
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Jan 2014 03:04:21 GMT
[...]
- request:
    method: head
    uri: https://s3.amazonaws.com/s3-website-test.net/index.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 3B8119FAA8C2A10F
      Last-Modified:
      - Thu, 02 Jan 2014 03:01:51 GMT
      Etag:
      - '"af57cd2c1da58734749af7f49e38952c"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Jan 2014 03:04:22 GMT
[...]
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-05-05/distribution/some-cf-id/invalidation
    body:
      encoding: UTF-8
      string: "\n        <InvalidationBatch>\n          <Paths>\n            <Quantity>2</Quantity>\n
        \           <Items>\n              [\"<Path>/css/styles.css</Path>\", \"<Path>/</Path>\"]\n
        \           </Items>\n          </Paths>\n          <CallerReference>1388631865</CallerReference>\n
        \       </InvalidationBatch>\n      "
    headers:
      X-Amz-Date:
      - Thu, 02 Jan 2014 03:04:25 UTC
      Content-Type:
      - text/xml
      Authorization:
      - AWS foo
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 96a78aca-735a-11e3-908a-dfaa7fc51261
      Location:
      - https://cloudfront.amazonaws.com/2012-05-05/distribution/some-cf-id/invalidation/IVABZ2VV0CGL2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <Invalidation xmlns="http://cloudfront.amazonaws.com/doc/2012-05-05/"><Id>IVABZ2VV0CGL2</Id><Status>InProgress</Status><CreateTime>2014-01-02T03:04:26.515Z</CreateTime><InvalidationBatch><Paths><Quantity>2</Quantity><Items><Path>/</Path><Path>/css/styles.css</Path></Items></Paths><CallerReference>1388631865</CallerReference></InvalidationBatch></Invalidation>
  recorded_at: Thu, 02 Jan 2014 03:04:26 GMT
recorded_with: VCR 2.5.0
