---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?marker=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FAEA41B1C7853834
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2014-05-01T22:53:14.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2014-05-01T23:07:54.000Z</LastModified><ETag>&quot;af57cd2c1da58734749af7f49e38952c&quot;</ETag><Size>117</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Fri, 02 May 2014 08:47:50 GMT
- request:
    method: get
    uri: https://s3.amazonaws.com/s3-website-test.net?max-keys=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1A06502694941885
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>s3-website-test.net</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>css/styles.css</Key><LastModified>2014-05-01T22:53:14.000Z</LastModified><ETag>&quot;8fcf43a38cbf0c502f029a50645f2374&quot;</ETag><Size>10</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>index.html</Key><LastModified>2014-05-01T23:07:54.000Z</LastModified><ETag>&quot;af57cd2c1da58734749af7f49e38952c&quot;</ETag><Size>117</Size><Owner><ID>299a240b0ebf73182d268a7b071f05431fe4c4446057ca4a79b74f10baee7e49</ID><DisplayName>webmaster</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Fri, 02 May 2014 08:47:51 GMT
- request:
    method: delete
    uri: https://s3.amazonaws.com/s3-website-test.net/css/styles.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Amz-Request-Id:
      - DD4CE59C9F39A9F1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 May 2014 08:47:52 GMT
- request:
    method: post
    uri: https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation
    body:
      encoding: UTF-8
      string: "\n        <InvalidationBatch>\n          <Paths>\n            <Quantity>2</Quantity>\n
        \           <Items>\n              [\"<Path>/css/styles.css</Path>\", \"<Path>/</Path>\"]\n
        \           </Items>\n          </Paths>\n          <CallerReference>1399020472</CallerReference>\n
        \       </InvalidationBatch>\n      "
    headers:
      X-Amz-Date:
      - Fri, 02 May 2014 08:47:52 UTC
      Content-Type:
      - text/xml
      Authorization:
      - AWS foo:bar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 72825f14-d1d6-11e3-a4be-5fa282d4ec9c
      Location:
      - https://cloudfront.amazonaws.com/2012-05-05/distribution/foo/invalidation/I3F88XZVNRFD54
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <Invalidation xmlns="http://cloudfront.amazonaws.com/doc/2012-05-05/"><Id>I3F88XZVNRFD54</Id><Status>InProgress</Status><CreateTime>2014-05-02T08:47:52.700Z</CreateTime><InvalidationBatch><Paths><Quantity>2</Quantity><Items><Path>/</Path><Path>/css/styles.css</Path></Items></Paths><CallerReference>1399020472</CallerReference></InvalidationBatch></Invalidation>
  recorded_at: Fri, 02 May 2014 08:47:52 GMT
recorded_with: VCR 2.8.0
